*{
    box-sizing: border-box;
}
body {
    margin: 0px;
}
img {
    width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}
a{
   text-decoration: none;
}
ul, ol {
    margin: 0px;
    padding: 0px;
}
input, button {
    box-shadow: none;
    outline: none;
}
.image-1{
    width: 100%;
    height: 500px;
    position: relative;
}
.main_header{
    /* position: relative; */
}
.header_contant{
    color: white;
    background-color: black;
    position: absolute;
    left:0px;
    top:0px;
    opacity: 0.69;
    padding:10px 30px;
    width: 100%;
    /* padding-right: 960px; */
}
.name{
    font-size: 40px;
    font-weight: 900;
}
.name1{
    font-size:15px;
    font-weight: 500;
}
.box{
    height: 10px;
    width: 28px;
    background-color: skyblue;
}
.learn{
    background-color: rgba(193, 185, 50, 0.70);
    color: white;
    position: absolute;
    left: 0px;
    top:336px;
    padding: 35px 30px;
    width: 1025px;
    /* padding-right: 819px; */
    overflow: hidden;
    line-height: 1.05;
}
.name3{
    font-size: 55px;
    font-weight: 900;
}
.name4{
    font-size: 35px;
}
.list_data{
    list-style-type: square;
    padding-right: 70px;
    direction: rtl;
    font-size: 25px;
    color: white;
    padding-top: 40px;
    padding-bottom: 64px;
    font-weight: 400;
    width: 469.5px;
}
.data{
    background-color: gainsboro;
    padding-left: 25px;
    position: absolute;
    right: 0px;
    top:0px;
}
.address{
    background-color: black;
    opacity: 0.69;
    color: white;
    width: 493.5px;
    position: absolute;
    right: 0px;
    top:330px;
    text-align: right;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.first{
    color: rgb(227, 48, 48);
    font-size: 50px;
    font-weight: 900;
}
.start{
    color: gray;
    font-size: 25px;
    font-weight: 700;
}
.courses{
    color: rgb(157, 146, 146);
    font-size: 18px;
    font-weight: 500;
}
.code_data{
    background-color: skyblue;
    padding: 50px;
    color: white;
    display: flex;
}
.company_data{
    text-transform: uppercase;
}
.trophy{
    font-size: 60px;
}
.our_company{
    background-color: gainsboro;
}
.second{
    color: skyblue;
    font-size: 45px;
    font-weight: 650;
}
.end{
    color: gray;
    font-size: 22px;
    font-weight: 700;
}
.image-2{
    color: white;
    width: 80px;
    height: 80px;
}
.our_name{
    color: rgb(227, 48, 48);
    font-weight: 700;
}
.code{
    color: gray;
    font-size: 40px;
}
.logo_data1{
    font-size: 20px;
    font-weight: 700;
}
.logo{
    line-height: 0.90;
}