*{
    box-sizing: border-box;
}
body {
    margin: 0px;
}
img {
    width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}
a{
   text-decoration: none;
}
ul, ol {
    margin: 0px;
    padding: 0px;
}
input, button {
    box-shadow: none;
    outline: none;
}
/* first section part css */
.main_section{
    background-image: url('../image/img1.jpeg');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header_contant{
    color: white;
    background-color: rgba(0, 0, 0, 0.456);
    padding-top:10px;
    padding-bottom: 15px;
    padding-left: 50px;
}
.name{
    font-size: 40px;
    font-weight: 900;
}
.name1{
    font-size:15px;
    font-weight: 500;
}
.box{
    height: 10px;
    width: 28px;
    background-color: skyblue;
}
.list_data{
    list-style-type: square;
    padding-right: 70px;
    direction: rtl;
    font-size: 26px;
    color: white;
    padding-top: 41px;
    padding-bottom: 60px;
    font-weight: 430;
}
.data{
    background-color: rgba(112, 107, 107, 0.248);
}
.learn{
    color: white;
    background-color: rgba(231, 209, 15, 0.7);
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 50px;
    overflow: hidden;
    line-height: 1.05;
}
.name3{
    font-size: 55px;
    font-weight: 900;
}
.name4{
    font-size: 35px;
}
.address{
    color: white;
    background-color: rgba(0, 0, 0, 0.456);
    text-align: right;
    padding-right: 50px;
    padding-top: 22px;
    padding-bottom: 22px;
}
/* second section part css */
.first_data{
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 50px;
}
.first{
    color: rgb(227, 48, 48);
    font-size: 50px;
    font-weight: 900;
}
.start{
    color: gray;
    font-size: 25px;
    font-weight: 700;
}
.courses{
    color: rgb(157, 146, 146);
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
}
.code_data{
    background-color: skyblue;
    padding: 52.5px;
    color: white;
    display: flex;
}
.image-2{
    width: 100px;
    height:100px;
}
.logo_image{
    padding-left: 50px;
}
.logo{
    line-height: 0.90;
    padding-top: 50px;
}
.logo_data1{
    font-size: 30px;
    font-weight: 700;
}
.logo_data2{
    color:beige ;
}
.our_name{
    color: rgb(227, 48, 48);
    font-weight: 700;
    padding-top: 25px;
}
.code{
    color: gray;
    font-size: 40px;
}
.company_data1{
    text-transform: uppercase;
    padding-bottom: 30px;
    text-align: justify;
}
.company_data2{
    text-transform: uppercase;
    padding-bottom: 80px;
    text-align: justify;
}
.footer_line{
    border: 5px solid red;
}
.our_company{
    background-color: gainsboro;
    padding-left: 50px;
    padding-right: 80px;
}
.trophy{
    font-size: 60px;
}
.second{
    color: skyblue;
    font-size: 45px;
    font-weight: 650;
}
.end{
    color: gray;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 10px;
}
.end_1{
    color: gray;
    font-size: 22px;
    font-weight: 700;

}
.first_data{
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 50px;
}
.second_data{
    padding-top:40px;
    text-align: right;
    line-height: 1.27;
    padding-right: 40px;
    padding-left: 150px;
}
.end_data{
    text-transform: uppercase;
    padding-top: 10px;
}